{{js_template|safe}}
<div class="wrapper-comp-settings is-active editor-with-buttons" id="settings-tab">
    <form id="poll-form">
    <ul class="list-input settings-list" id="poll-line-items">
        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label poll-setting-label" for="poll-display-name">Отображаемое название</label>
                <!-- In the case of surveys, this field will actually be used for block_name. -->
                <input class="input setting-input" name="display_name" id="poll-display-name" value="{{ display_name }}" type="text" />
            </div>
        </li>
        {% if not multiquestion %}
            <li class="field comp-setting-entry is-set">
              <h2><label for="poll-question-editor">Вопрос</label></h2>
              <a href="//daringfireball.net/projects/markdown/syntax" target="_blank">Синтаксис Markdown</a> поддерживается.
              <div id="poll-question-editor-container">
                <textarea class="input setting-input" name="question" id="poll-question-editor">{{question}}</textarea>
              </div>
              <span class="tip setting-help">Введите вопрос, отображаемый пользователю.</span>
            </li>
        {% endif %}
        <li class="field comp-setting-entry is-set">
           <h2><label for="poll-feedback-editor">Обратная связь</label></h2>
           <a href="//daringfireball.net/projects/markdown/syntax" target="_blank">Синтаксис Markdown</a> поддерживается.
           <div id="poll-feedback-editor-container">
             <textarea class="input setting-input" name="feedback" id="poll-feedback-editor">{{feedback}}</textarea>
           </div>
            <span class="tip setting-help">
                Этот текст будет показан пользователю в качестве дополнительной обратной связи
                после того как он проголосует.
            </span>
        </li>
        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label poll-setting-label" for="poll-private-results">Скрыть результаты</label>
                <select id="poll-private-results" class="input setting-input" name="private_results">
                    <!-- So far as I can see, there's not a proper style for checkboxes. LTI module does it this way. -->
                    <option value="true" {% if private_results %} selected{% endif %}>Да</option>
                    <option value="false" {% if not private_results %} selected{% endif %}>Нет</option>
                </select>
            </div>
            <span class="tip setting-help">
                Если отмечено Да, то пользователь не увидит результатов опроса.
            </span>
        </li>
        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label poll-setting-label" for="poll-max-submissions">Максимальное число попыток</label>
                <input id="poll-max-submissions" type="number" min="0" step="1" value="{{ max_submissions }}"/>
            </div>
            <span class="tip setting-help">
                Максимальное число попыток голосования для пользователя. <strong>Указание величины отличной от 1 подразумевает, что
                в поле 'Скрыть результаты' должно быть отмечено 'Да'.</strong> Указание 0 означает, что может быть сколько угодно попыток.
            </span>
        </li>
        <li class="field comp-setting-entry is-set">
            <p>
                <strong>Замечания:</strong>
                Если Вы измените текст ответа, то у всех студентов, проголосовавших за него, он так же изменится.
                Не следует заменять ответы типа 'Да' на 'Нет' и наоборот.
                Если Вы удалите ответ, то все голоса за него так же будут удалены. Студенты, чьи голоса удалены, смогут еще раз проголосовать,
                не потеряв свой прогресс.
            </p>
            {%  if multiquestion %}
                <p>
                    В случае множественных вопросов работают аналогичные правила.
                </p>
            {% endif %}
        </li>
        <li id="poll-answer-marker"></li>
        <li id="poll-answer-end-marker"></li>
        <li id="poll-question-marker"></li>
        <li id="poll-question-end-marker"></li>
    </ul>
    <div class="xblock-actions">
        <ul>
            <li class="action-item" id="poll-add-answer">
                <a href="#" class="button action-button" class="poll-add-item-link" onclick="return false;">Добавить ответ</a>
            </li>
            {% if multiquestion %}
                <li class="action-item" id="poll-add-question">
                    <a href="#" class="button action-button" class="poll-add-item-link" onclick="return false;">Добавить вопрос</a>
                </li>
            {% endif %}
            <li class="action-item">
                <input id="poll-submit-options" type="submit" class="button action-primary save-button" value="Сохранить" onclick="return false;" />
            </li>
            <li class="action-item">
                <a href="#" class="button cancel-button">Отмена</a>
            </li>
        </ul>
    </div>
    </form>
</div>
